tittle {
    color: white;
}

#title, .sub, .texto, .post {
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    background-image: url("../img/wp2328251-playstation-2-wallpapers.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 900px;
}

#title {
    background: white;
    margin-left: 385px;
    width: 40%;
    border: 3px solid blue;
    border-radius: 50px;
    font-size: 40px;
    font-style: inherit;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.sub {
    font-size: 16px;
    font-style: inherit;
    margin-left: 10px;
}

.texto {
    font-size: 15px;
    font-style: inherit;
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.post {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0px;
}

img {
    width: 200px
}


